* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


.wrapper {
    height: 100vh;
    width: 100vw;
}

.section-left {display: inline-block;
    width: 60%;
    padding: 136px;
}

.section-right {display: inline-block;
    background: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;

}

h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
    width: 368px;
    
}

p {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #5D5D7D;
    opacity: 0.6;
    width: 540px;
    margin-top: 15px;
    margin-bottom: 15px;
}

img {position: relative;
    top:5% ;
    right:134px;
    }

button {
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    width: 269px;
    height: 62px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {opacity: 0.8;}

button:active {opacity: 0.4; }

header {
    margin: 24px 0 0 57px;
    cursor: pointer;
}

a {
    margin: 70px 41px 0px 56px ;
    color: #5D5D7D;
    font-size: 28px;
    line-height: 41px;
}

@media screen and (max-width: 900px){
    .section-left {width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }
    
    .section-right {display: block;
        height: auto;
        width: 100%;
        position: static;
    }
    img {position: static;
        width: 90%;
        padding: 45px;}

    header {display: none;}

    h1 {font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0;
        text-align: center;}
    
    p {font-size: 14px;
        line-height: 24px;
        width: auto;
        margin: 15px 40px 15px;
        text-align: center;}

    button {margin: auto;
            display: block;}


}
